<div>
  <button type="button" class="btn btn-default btn-md" (click)="addService()"><i
      class="glyphicon glyphicon-plus-sign">&nbsp;</i>Add Services</button>

  <table class="table">
    <thead>
      <tr>
        <th class="text-center">Services Name</th>
        <th class="text-center">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let service of services">
        <td>


          <div>
            <span *ngIf="!service.edit && !service.add">{{service.name}}</span>
            <form *ngIf="service.edit || service.add" #f="ngForm" novalidate>
              <input type="text" class="form-control" [(ngModel)]="service.name" #serviceName="ngModel" required
                minlength="3" name="serviceName" />
              <span class="help-block" *ngIf="!serviceName.valid"> Minimum required length is 3.</span>
            </form>


            <div class="align-buttons-right">
              <button *ngIf="!service.edit && !service.add"
                style="border:none; background-color: transparent; margin-left: 10px;"
                (click)="service.edit=!service.edit; service.originalData = service.name;"><span
                  class="glyphicon glyphicon-edit"></span></button>

              <button *ngIf="service.edit"
                style="border:none; background-color: transparent; margin-left: 10px; color: green;"
                (click)="service.edit=!service.edit; updateService(service);" [disabled]="!service.name">
                <span class="glyphicon glyphicon-check"></span>
              </button>

              <button *ngIf="service.edit"
                style="border:none; background-color: transparent; margin-left: 10px; color:red;"
                (click)="service.edit=!service.edit; service.name = service.originalData;"><span
                  class="glyphicon glyphicon-remove-sign"></span>
              </button>

              <button *ngIf="service.add"
                style="border:none; background-color: transparent; margin-left: 10px;color: green;"
                (click)="service.add=!service.add; updateService(service);" [disabled]="!service.name"><span
                  class="glyphicon glyphicon-check"></span></button>
            </div>
          </div>
        </td>

        <td class="text-center">
          <!-- Remove Button HTML -->
          <button class="btn btn-danger btn-md" (click)="removeServices(service)"><span
              class="glyphicon glyphicon-remove-sign"></span></button>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="text-center">
    <button class="btn btn-primary" (click)="onSave()">Save</button>
  </div>
</div>