input.ng-invalid.ng-touched{
  border:1px solid red ;
}
.table{
  border: 1px solid #ddd;
  padding: 10px;
}
.btn{
  margin-bottom: 5px;
}
.help-block{
  color: red;
  text-align: center;
}
.align-buttons-right{
  display: inline-block;
  text-align: right;
}

.form-control{
  display: inline-block;
  width:60%;
}