input.ng-invalid.ng-touched{
  border:1px solid red ;
}
.table{
  border: 1px solid #ddd;
  padding: 10px;
}
.btn{
  margin-bottom: 5px;
}
.help-block{
  color: red;
  text-align: center;
}
.align-buttons-right{
  display: inline-block;
  text-align: right;
}

form{
  display: inline-block;
  width: 82%;
}
table tr td{
  width: 32%;
}
/* table .form-control{
  width: 82%;
  display: inline-block;
} */
span{
  width: 82%;
  display: inline-block;
}