<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <nav class="navbar">
        <ul class="nav nav-tabs">
        <li routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"><a routerLink="/adminController">Administration</a></li>
        <!-- <li routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"><a routerLink="/customerInputs">File Upload</a></li> -->
        <li routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"><a routerLink="/inputjson">Input JSON</a></li>
        </ul>
      </nav>
      <div>
          <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
