<!-- Status Code -->
<div class="alert alert-success alert-dismissible fade in" [ngClass]="[successMsgDiv]" id="success" >
  <a routerLink="../extensionfiles" class="close" data-dismiss="alert" aria-label="close">&times;</a>
  Data has been saved <strong>Successfully!</strong>
</div>
<!-- Table Code -->
<div class="static">
<div class="fixback">
  <a routerLink="../extensions"><span class="glyphicon glyphicon-plus-sign">&nbsp;</span>Add Extensions</a>&nbsp;&nbsp;
  <a routerLink="../filetypes"><span class="glyphicon glyphicon-plus-sign">&nbsp;</span>Add FileTypes</a>
</div>
</div>
<!-- Drop Down Code -->
<div class="new-div">
<div class="form-group">
  <div class="row">
    <div class="col-md-12">
      <label for="filetype" class="control-label">Select FileType:</label>
      <select id="file_type" class="form-control" [(ngModel)]="selectedFileTypeId" (change)="onFileTypeSelect(selectedFileTypeId)">
        <option value="0" selected disabled="true">Please Select a FileType</option>
        <option *ngFor="let file of filtypeList" [value]="file.id">{{file.type}}</option>

      </select>
    </div>
  </div>
  <div class="row">
    <div class="reportscroll col-md-12">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Extension</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let extension of extensionsArr">
            <td>{{extension.extension}}</td>
            <td>
              <button class="btn btn-danger btn-md" (click)="removeExtension(extension)"><span class="glyphicon glyphicon-remove-sign"></span></button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row pad-top">
    <div class="col-md-12">
      <label for="extnType" class="control-label">Select Extension:</label>
      <select id="extn_Type" class="form-control" [(ngModel)]="selectedExtensionId" (change)="onExtensionSelect(selectedExtensionId)">
        <option value="0" disabled="true">Please Select a Extension Type</option>
        <option *ngFor="let extn of extensionsList" [value]="extn.id">{{extn.name}}</option>
      </select>
    </div>
  </div>
</div>
<div class="form-group btn-center">
  <button type="button" class="btn btn-primary"  (click)="onSaveClick()" data-toggle="modal" data-target="#exampleModalCenter">Save</button>
</div>
</div>