.reportscroll{
    overflow: scroll;
    height: 300px;
}
.fix{
   position:fixed;
   width: 100%;
   background-color: #fff;
   padding:10px;
   border-bottom:1px solid #ddd;
}
.static{
    position: relative;
}
.table{
    margin-top: 50px;    
}
.new-div .form-group{
    margin-bottom: 5px;
    overflow: hidden;
    padding-top: 70px;
}
.btn-center{
    text-align: center;
}