<button (click)="openMenu()" class="menuicon" ><span style="font-size:30px;cursor:pointer;" >&#9776;</span></button>

<div class="sidenav2" id="mySidenav" #ref>
  <ul class="nav nav-pills nav-stacked">
    <button class="menuicon closebtn" (click)="closeMenu()">&times;</button>
    <li routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" (click)="closeMenu()" ><a routerLink="/services">Manage
        Services</a></li>

    <li routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" (click)="closeMenu()"><a routerLink="/servicefiletypes">Manage
        Service Filetypes</a>
    </li>

    <li routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" (click)="closeMenu()"><a routerLink="/filetypeextensions">Manage
        FileType Extensions</a>
    </li>

    <li routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" (click)="closeMenu()"><a routerLink="/report">Show Report</a>
    </li>

  </ul>
</div>