.navbar-toggle{
    z-index: 1;
    float: none;
}
.navbar-toggle .icon-bar{
    background-color: black;
}
.nav {
    margin-bottom: 20px;
}


@media only screen and (max-width:767px){
    .nav-stacked>li {display: inline-block; width: 49%; font-size: 13px;
        text-align: center;
    }
    .nav>li>a {
        padding: 10px 2px;
    }
}
