<div>
  <div class="col-md-2 col-sm-3">
    <div>
      <ul class="nav nav-pills nav-stacked">

        <li routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"><a routerLink="/services">Manage
            Services</a></li>

        <li routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"><a
            routerLink="/servicefiletypes">Manage Service Filetypes</a>
        </li>

        <li routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"><a
            routerLink="/filetypeextensions">Manage FileType Extensions</a>
        </li>

        <li routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"><a routerLink="/report">Show Report</a>
        </li>

      </ul>
    </div>
  </div>
  <div class="col-md-10 col-sm-9">
    <p>
      <router-outlet></router-outlet>
    </p>
  </div>

</div>