.reportscroll{
    overflow-y: scroll;
    height: 316px;
}

/* .reportscroll table tr td:first-child{
    text-align: right;
    width: 30%;
} */

.error{
    color: red;
}
.heading{
    font-weight: bold;
    color: black;
}
.tableBorder{
    border: 1px solid gray;
}

.hide{
    visibility:hidden; 
}
.show{
    visibility: visible;
}

/* Slider Toggle Button CSS */
.spacer{
    margin-top: 2% ;
}
.table.bold-change tr td b {
    font-size: 13px;
}
.form-control{
    margin-bottom: 20px;
}