<div class="container-fluid">
  <div class="row">

    <div class="col-xs-12 col-sm-10 col-md-6">
      <h1>Please enter below details </h1>
      <form class="form-horizontal" [formGroup]="uploadForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label class="control-label col-sm-2" for="projectId">Project Id</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="projectId" formControlName="projectId">
          </div>
        </div>
        <span *ngIf="!this.uploadForm.get('projectId').valid && this.uploadForm.get('projectId').touched" class="help-block col-md-offset-2">This
          Field Is Required!</span>
        <div class="form-group">
          <label class="control-label col-sm-2" for="customerId">customer Id</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="cutomerId" formControlName="customerId">
          </div>
        </div>
        <span *ngIf="!this.uploadForm.get('customerId').valid && this.uploadForm.get('customerId').touched" class="help-block col-sm-offset-2">This
          Field Is Required!</span>
        <div class="form-group">
          <label class="control-label col-sm-2" for="serviceType">Service Type</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="serviceType" formControlName="serviceType">
          </div>
        </div>
        <span *ngIf="!this.uploadForm.get('serviceType').valid && this.uploadForm.get('serviceType').touched" class="help-block col-sm-offset-2">This
          Field Is Required!</span>
        <div class="form-group">
          <label class="control-label col-sm-2" for="uploadFile">Upload File</label>
          <div class="col-sm-10">
            <input type="file" id="uploadFile" accept=".zip,.rar,.tar" (change)="fileChangeEvent($event)"
              formControlName="uploadFile">
          </div>
        </div>
        <!-- <span *ngIf="!this.uploadForm.get('uploadFile').valid" class="help-block col-sm-offset-2">This Field Is Required!</span> -->

        <button class="btn btn-primary col-md-offset-5" type="submit">Submit</button>
      </form>
    </div>
    
    <div class="col-md-6">
      <div [ngClass]="[divStyle]">
        <div>
          <span class="heading">Summary</span>
          <p>{{responeGlobal.summary}}</p>
          <span class="heading">Status</span>
          <p>{{responeGlobal.validationStatus}}</p>
        </div>
        <br />
        <div class="tableBorder reportscroll">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>FileName</th>
                <th>FileType</th>
                <th>Polarity</th>
                <th>Layer Number</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let file of responeGlobal?.projectDetail?.fileDetails">
                <td>
                  {{file.name}}
                </td>
                <td>
                  {{file.type}}
                </td>
                <td>
                  {{file.polarity}}
                </td>
                <td>
                  {{file.layerOrder}}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>