h1{
    text-align: center;
}

span{
    color: red;
}

.heading{
    font-weight: bold;
    color: black;
}
.tableBorder{
    border: 1px solid gray;
}
.reportscroll{
    overflow-y: scroll;
    height: 257px;
}
.hide{
    visibility:hidden; 
}
.show{
    visibility: visible;
}

.test{
    margin: 0 auto;
    width: 80%;
}
