<div>
  <button type="button" class="btn btn-default btn-md" (click)="addExtn()"><span
      class="glyphicon glyphicon-plus-sign">&nbsp;</span>Add Extension</button>
  <div class="fix">
    <table class="table table-hover">
      <thead>
        <tr>
          <th class="text-center">Extensions</th>
          <th colspan="2" class="text-center">Action</th>

          <!-- <th><button class="btn btn-default btn-md" data-toggle="modal" data-target="#myModal"></button></th> -->
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let extn of extns">
          <td *ngIf="!extn.edit && !extn.add" class="text-center">{{extn.name}}</td>
          <td *ngIf="extn.edit || extn.add"> <input type="text" class="form-control" [(ngModel)]="extn.name" ngModel
              name="addExtn" required /></td>
          <td>
            <button *ngIf="!extn.add" class="btn btn-primary" [ngClass]="{'btn-success' : extn.edit}"
              (click)="extn.originalData = extn.name; updateExtn(extn); extn.edit = !extn.edit;"
              [disabled]="!extn.name">{{extn.edit
          ? 'Update':'Edit' }}</button>

            <button *ngIf="extn.add" class="btn btn-primary" [ngClass]="{'btn-success' : extn.add}"
              (click)="updateExtn(extn); extn.add = !extn.add;" [disabled]="!extn.name">Save</button>
            <button class="btn btn-danger" *ngIf="extn.edit || extn.add" (click)="cancelClick(extn)">Cancel</button>
            &nbsp;&nbsp;
          </td>
          
          <td>
            <!-- Remove Button HTML -->
            <button class="btn btn-danger btn-sm" (click)="removeExtension(extn)"><span
                class="glyphicon glyphicon-remove-sign"></span></button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <br />
  <div class="text-center">
    <button class="btn btn-primary" (click)="onSave()">Save</button>
  </div>
</div>