.pulse:hover {animation: none;}
.pulse {animation: pulse 3s infinite;}
@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(255,255,255, 0.5);
  }
  70% {
      -webkit-box-shadow: 0 0 0 20px rgba(255,255,255, 0);
  }
  100% {
      -webkit-box-shadow: 0 0 0 0 rgba(255,255,255, 0);
  }
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(255,255,255, 0.5);
    box-shadow: 0 0 0 0 rgba(255,255,255, 0.5);
  }
  70% {
      -moz-box-shadow: 0 0 0 20px rgba(255,255,255, 0);
      box-shadow: 0 0 0 20px rgba(255,255,255, 0);
  }
  100% {
      -moz-box-shadow: 0 0 0 0 rgba(255,255,255, 0);
      box-shadow: 0 0 0 0 rgba(255,255,255, 0);
  }
}

li {
    display: block;
    position: relative;
    margin-bottom: 20px;
}

li:before {
    /*Using a Bootstrap glyphicon as the bullet point*/
    content: "\e127";
    font-family: 'Glyphicons Halflings';
    font-size: 15px;
    margin-top: 1px;
    color: #337ab7;
    left: -26px;
    position: absolute;
}