<!-- Status Code -->
<div class="alert alert-success alert-dismissible fade in" [ngClass]="[successMsgDiv]" id="success">
  <a class="close" data-dismiss="alert" aria-label="close">&times;</a>
  Data has been saved <strong>Successfully!</strong>
</div>
<!-- Table Code -->
<div class="static">
  <div class="fixback">
    <button class="btn btn-primary btn-sm" (click)="addFiletype()"><span
        class="glyphicon glyphicon-plus-sign">&nbsp;</span>Add FileTypes</button>
    <!-- Button Triggers the Help Modal -->
    <button type="button" class="btn btn-info btn-md pull-right" data-toggle="modal" data-target="#helpModal"><span
        class="glyphicon glyphicon-info-sign pulse"></span>&nbsp;Help</button>
  </div>
</div>

<div id="helpModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title" style="text-align: center;"><b>Learn How to Map Extensions to Filetype</b></h4>
      </div>
      <div class="modal-body">
        <h5 style="font-weight: bold; margin-bottom: 3%">Follow below directions for mapping</h5>
        <ul>
          <li>To edit extensions, choose any Filetype extensions from extensions listed.</li>
          <li>Now click on edit button corresponding to extensions of the particular filetype.</li>
          <li>Existing extensions gets converted into input box so that you can enter more extensions to map.</li>
          <li>You can enter multiple extensions which is seperated by comma ( i.e. ",") <b>for example
              pdf,txt,gto....</b></li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
<!-- Drop Down Code -->
<div class="new-div">
  <div class="form-group">
    <div class="col-md-12 col-sm-12">
      <div class="row">
        <table class="table table-hover">
          <thead>
            <tr>
              <th class="text-center">FileType</th>

              <th class="text-center">Extensions</th>

              <th class="text-center">Remove Row</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of fileTypeExtensions">
              <!-- FileTypes -->
              <td>
                <span *ngIf="!data.file">{{data.file_type}}</span>
                <input *ngIf="data.file" type="text" [(ngModel)]="data.file_type" class="form-control" required />

                <div class="align-buttons-right">
                  <button *ngIf="!data.file" style="border:none; background-color: transparent; margin-left: 10px;"
                    (click)="data.file = !data.file; data.originalFiletype = data.file_type;"><span
                      class="glyphicon glyphicon-edit"></span></button>
                  <button *ngIf="data.file" style="border:none; background-color: transparent; margin-left: 10px;"
                    (click)="data.file = !data.file; data.originalFiletype = data.file_type;"><span
                      class="glyphicon glyphicon-check" [ngStyle]="{'color':data.file?'green':'green'}"></span></button>
                  <button *ngIf="data.file" style="border:none; background-color: transparent; margin-left: 10px;"
                    (click)="data.file_type=data.originalFiletype; data.file= !data.file"><span
                      class="glyphicon glyphicon-remove-sign"
                      [ngStyle]="{'color':data.file?'red':'red'}"></span></button>
                </div>
              </td>

              <!-- DataTypes -->
              <td>
                <span *ngIf="!data.edit">{{data.extensions}}</span>
                <input *ngIf="data.edit" type="text" [(ngModel)]="data.extensions" class="form-control" required />

                <div class="align-buttons-right">
                  <button *ngIf="!data.edit" style="border:none; background-color: transparent; margin-left: 10px;"
                    (click)="data.edit = !data.edit; data.originalExtn = data.extensions; changesSaved=!changesSaved;"><span
                      class="glyphicon glyphicon-edit"></span></button>
                  <button *ngIf="data.edit" style="border:none; background-color: transparent; margin-left: 10px;"
                    (click)="data.edit = !data.edit; data.originalExtn = data.extensions; changesSaved=!changesSaved;"
                    (click)="updateData(data)"><span class="glyphicon glyphicon-check"
                      [ngStyle]="{'color':data.edit?'green':'green'}"></span></button>
                  <button *ngIf="data.edit" style="border:none; background-color: transparent; margin-left: 10px;"
                    (click)="data.edit = !data.edit; data.originalExtn = data.extensions; changesSaved=!changesSaved;"><span
                      class="glyphicon glyphicon-remove-sign"
                      [ngStyle]="{'color':data.edit?'red':'red'}"></span></button>
                </div>
              </td>
              <!-- <td class="text-center">
                  <button class="btn btn-primary btn-sm" (click)="data.edit = !data.edit; data.originalExtn = data.extensions; updateData(data)" [ngClass]="{'btn-success':data.edit}" [disabled]="!data.extensions">
                    <span class="glyphicon glyphicon-edit"></span> {{data.edit?'update':'edit'}}
                  </button>&nbsp;
                  <button *ngIf="data.edit" class="btn btn-danger btn-md"><span class="glyphicon glyphicon-remove-sign" (click)="data.extensions=data.originalExtn; data.edit= !data.edit"></span></button>
              </td> -->

              <td class="text-center">
                <button class="btn btn-danger btn-md" (click)="removeExtension(data)"><span
                    class="glyphicon glyphicon-remove-sign"></span></button>
              </td>

            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>