/* .reportscroll{
    overflow-y: auto;
    margin: 30px auto;
    height:200px;
} */
.fixback{
   position: relative;
   width: 100%;
   background-color: #fff;
   padding:10px;
   border-bottom:1px solid #ddd;
}
.static{
    position: relative;
}
/* .table{
    margin-top: 50px;    
} */
.new-div .form-group{
    /* margin-bottom: 5px; */
    /* overflow: hidden; */
    padding-top: 20px;
}
.btn-center{
    text-align: center;
}

/* .pad-top{
    padding-top:30px; 
} */
/* @media only screen and (max-width:767px){
    
}
@media only screen and (min-width:768px) and (max-width:991px){
} */
.align-buttons-right{
    display: inline-block;
    text-align: right;
}
.new-div span{
    display: inline-block;
    width: 88%;
}
.new-div .form-control{
    width:82%;
    display: inline-block;
}
.new-div table tr td {
    width: 32%;
}
.new-div table tr td:nth-child(3){
    width: 10%;
}
.hide{
    visibility:hidden; 
}
.show{
    visibility: visible;
}

/* .dropdown-up  .multiselect-dropdown .dropdown-down{

    position: absolute;
    right: 10px;
}
.multiselect-dropdown .dropdown-btn .dropdown-up{
    position: absolute;
    top: 13px;
    right: 10px;
}
.dropdownbox .multiselect-dropdown .dropdown-btn{
    padding: 6px 50px 6px 12px;
} */

.button-top-margin{
    margin-top: 10%;
}