<!-- Status Code -->
<div class="alert alert-success alert-dismissible fade in" [ngClass]="[successMsgDiv]" id="success">
  <a class="close" data-dismiss="alert" aria-label="close">&times;</a>
  Data has been saved <strong>Successfully!</strong>
</div>
<!-- Table Code -->
<div class="static">
  <div class="fixback">
    <a routerLink="../extensions"><span class="glyphicon glyphicon-plus-sign">&nbsp;</span>Add
      Extensions</a>&nbsp;&nbsp;
    <a routerLink="../filetypes"><span class="glyphicon glyphicon-plus-sign">&nbsp;</span>Add FileTypes</a>
  </div>
</div>
<!-- Drop Down Code -->
<div class="new-div">
  <div class="form-group">
    <div class="col-md-12 col-sm-12">
      <div class="row">
        <table class="table table-hover">
          <thead>
            <tr>
              <th class="text-center">FileType</th>
              <th class="text-center">Action</th>
              <th class="text-center">Extensions</th>
              <th class="text-center">Action</th>
              <th class="text-center">Remove Row</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of fileTypeExtensions">
              <!-- FileTypes -->
              <td *ngIf="!data.file">{{data.file_type}}</td>
              <td *ngIf="data.file">
                <input type="text" [(ngModel)]="data.file_type" class="form-control" required/>
              </td>
              <td class="text-center">
                <button class="btn btn-primary btn-sm" (click)="data.file = !data.file; data.originalFiletype = data.file_type;" [ngClass]="{'btn-success':data.file}" [disabled]="!data.file_type">
                  <span class="glyphicon glyphicon-edit"></span> {{data.file? 'update':'edit'}}
                </button>&nbsp;
                <button *ngIf="data.file" class="btn btn-danger btn-md"><span class="glyphicon glyphicon-remove-sign" (click)="data.file_type=data.originalFiletype; data.file= !data.file"></span></button>
              </td>
              <!-- DataTypes -->
              <td *ngIf="!data.edit">{{data.extensions}}</td>
              <td *ngIf="data.edit">
                <input type="text" [(ngModel)]="data.extensions" class="form-control" required/>
              </td>
              <td class="text-center">
                  <button class="btn btn-primary btn-sm" (click)="data.edit = !data.edit; data.originalExtn = data.extensions; updateData(data)" [ngClass]="{'btn-success':data.edit}" [disabled]="!data.extensions">
                    <span class="glyphicon glyphicon-edit"></span> {{data.edit?'update':'edit'}}
                  </button>&nbsp;
                  <button *ngIf="data.edit" class="btn btn-danger btn-md"><span class="glyphicon glyphicon-remove-sign" (click)="data.extensions=data.originalExtn; data.edit= !data.edit"></span></button>
              </td>
              
              <td class="text-center">
                <button class="btn btn-danger btn-md" (click)="removeExtension(data)"><span
                    class="glyphicon glyphicon-remove-sign" ></span></button>
              </td>
              
            </tr>
          </tbody>
        </table>
          <!-- <select id="file_type" class="form-control" [(ngModel)]="selectedFileType"
            (change)="onFileTypeSelect(selectedFileType)">
            <option value="0" selected disabled="true">Please Select a FileType</option>
            <option *ngFor="let file of fileTypeExtensions" [value]="file.file_type">{{file.file_type}}</option>
          </select> -->
        
      </div>
    </div>
    <!-- <div class="col-md-6 col-sm-6">
      <div class="row">
        <div class="col-md-12" *ngIf="extensions && extensions.length >0">
            <label for="filetype" class="control-label">Extensions:</label>
            <input type="text" class="form-control"/>
        </div>
      </div>
    </div> -->
    <!-- <div class="row">
      <div class="col-md-12">
        <label for="extnType" class="control-label">Select Extension:</label>
        <select id="extn_Type" class="form-control" [(ngModel)]="selectedExtension"
          (change)="onExtensionSelect(selectedExtension)">
          <option value="0" disabled="true">Please Select a Extension Type</option>
          <option *ngFor="let extn of extensions" [value]="extn">{{extn}}</option>
        </select>
      </div>
    </div> -->
  </div>
  <div class="form-group button-top-margin btn-center">
    <button type="button" class="btn btn-primary" (click)="onSaveClick()" data-toggle="modal"
      data-target="#exampleModalCenter">Save</button>
  </div>
</div>